<form>
    <mat-card class="card-content" fxLayout="column" fxLayoutGap="15px">
        <div class="section-header" fxLayout="row" fxLayoutAlign="start center">
            <div class="add-header">Add External Corrosion</div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="20px" class="add-data-card">
            <div fxFlex="33" fxLayout="column" fxLayoutGap="10px" class="add-data-fields">
                <div fxLayoutAlign="start center" fxLayoutGap="10px">
                    <mat-label fxFlex="60">Soil Interface/Condensation</mat-label>
                    <mat-form-field fxFlex="40" appearance="outline">
                        <input matInput>
                    </mat-form-field>
                </div>
                <div fxLayoutAlign="start center" fxLayoutGap="10px">
                    <mat-label fxFlex="60">Pipe direct on beam/complex design</mat-label>
                    <mat-form-field fxFlex="40" appearance="outline">
                        <input matInput>
                    </mat-form-field>
                </div>
                <div fxLayoutAlign="start center" fxLayoutGap="10px">
                    <mat-label fxFlex="60">Coating Quality-CQ (HML)</mat-label>
                    <mat-form-field fxFlex="40" appearance="outline">
                        <input matInput>
                    </mat-form-field>
                </div>
                <div fxLayoutAlign="start center" fxLayoutGap="10px">
                    <mat-label fxFlex="60">EC driver (climate) M/T/D/S</mat-label>
                    <mat-form-field fxFlex="40" appearance="outline">
                        <input matInput>
                    </mat-form-field>
                </div>
                <div fxLayoutAlign="start center" fxLayoutGap="10px">
                    <mat-label fxFlex="60">Coating Age (COATAGE)</mat-label>
                    <mat-form-field fxFlex="40" appearance="outline">
                        <input matInput>
                    </mat-form-field>
                </div>
                <div fxLayoutAlign="start center" fxLayoutGap="10px">
                    <mat-label fxFlex="60">Coat adjustment</mat-label>
                    <mat-form-field fxFlex="40" appearance="outline">
                        <input matInput>
                    </mat-form-field>
                </div>
                <div fxLayoutAlign="start center" fxLayoutGap="10px">
                    <mat-label fxFlex="60">Repainted Year (RPY)</mat-label>
                    <mat-form-field fxFlex="40" appearance="outline">
                        <input matInput>
                    </mat-form-field>
                </div>
                <div fxLayoutAlign="start center" fxLayoutGap="10px">
                    <mat-label fxFlex="60">Effective External Age</mat-label>
                    <mat-form-field fxFlex="40" appearance="outline">
                        <input matInput>
                    </mat-form-field>
                </div>
            </div>

            <div fxFlex="33" fxLayout="column" fxLayoutGap="10px" class="add-data-fields">
                <div fxLayoutAlign="start center" fxLayoutGap="10px">
                    <mat-label fxFlex="60">Theoritical corrosion rate (TECR)</mat-label>
                    <mat-form-field fxFlex="40" appearance="outline">
                        <input matInput>
                    </mat-form-field>
                </div>
                <div fxLayoutAlign="start center" fxLayoutGap="10px">
                    <mat-label fxFlex="60">Measured long term CR (LECR)</mat-label>
                    <mat-form-field fxFlex="40" appearance="outline">
                        <input matInput>
                    </mat-form-field>
                </div>
                <div fxLayoutAlign="start center" fxLayoutGap="10px">
                    <mat-label fxFlex="60">Measured short term CR (SECR)</mat-label>
                    <mat-form-field fxFlex="40" appearance="outline">
                        <input matInput>
                    </mat-form-field>
                </div>
                <div fxLayoutAlign="start center" fxLayoutGap="10px">
                    <mat-label fxFlex="60">Effective Ex CR (EECR)</mat-label>
                    <mat-form-field fxFlex="40" appearance="outline">
                        <input matInput>
                    </mat-form-field>
                </div>
                <div fxLayoutAlign="start center" fxLayoutGap="10px">
                    <mat-label fxFlex="60">Line ex Age (LEAGE)</mat-label>
                    <mat-form-field fxFlex="40" appearance="outline">
                        <input matInput>
                    </mat-form-field>
                </div>
                <div fxLayoutAlign="start center" fxLayoutGap="10px">
                    <mat-label fxFlex="60">External Process</mat-label>
                    <mat-form-field fxFlex="40" appearance="outline">
                        <input matInput>
                    </mat-form-field>
                </div>
            </div>

            <div fxFlex="34" fxLayout="column" fxLayoutGap="10px" class="add-data-fields">
                <div fxLayoutAlign="start center" fxLayoutGap="10px">
                    <mat-label fxFlex="60">Type of Corrosion (External/CUI/Process)</mat-label>
                    <mat-form-field fxFlex="40" appearance="outline">
                        <input matInput>
                    </mat-form-field>
                </div>
                <div fxLayoutAlign="start center" fxLayoutGap="10px">
                    <mat-label fxFlex="60">Very High</mat-label>
                    <mat-form-field fxFlex="40" appearance="outline">
                        <input matInput>
                    </mat-form-field>
                </div>
                <div fxLayoutAlign="start center" fxLayoutGap="10px">
                    <mat-label fxFlex="60">High</mat-label>
                    <mat-form-field fxFlex="40" appearance="outline">
                        <input matInput>
                    </mat-form-field>
                </div>
                <div fxLayoutAlign="start center" fxLayoutGap="10px">
                    <mat-label fxFlex="60">Medium</mat-label>
                    <mat-form-field fxFlex="40" appearance="outline">
                        <input matInput>
                    </mat-form-field>
                </div>
                <div fxLayoutAlign="start center" fxLayoutGap="10px">
                    <mat-label fxFlex="60">Low</mat-label>
                    <mat-form-field fxFlex="40" appearance="outline">
                        <input matInput>
                    </mat-form-field>
                </div>
                <div fxLayoutAlign="start center" fxLayoutGap="10px">
                    <mat-label fxFlex="60">Found</mat-label>
                    <mat-form-field fxFlex="40" appearance="outline">
                        <input matInput>
                    </mat-form-field>
                </div>
                <div fxLayoutAlign="start center" fxLayoutGap="10px">
                    <mat-label fxFlex="60">Damage Factor</mat-label>
                    <mat-form-field fxFlex="40" appearance="outline">
                        <input matInput>
                    </mat-form-field>
                </div>
                <div fxLayoutAlign="start center" fxLayoutGap="10px">
                    <mat-label fxFlex="60">POF</mat-label>
                    <mat-form-field fxFlex="40" appearance="outline">
                        <input matInput>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px" class="btns">
            <button mat-raised-button color="warn">Back</button>
            <button mat-raised-button color="primary">Next</button>
        </div>
    </mat-card>
</form>