<form>
    <mat-card class="card-content" fxLayout="column" fxLayoutGap="15px">
        <div class="section-header" fxLayout="row" fxLayoutAlign="start center">                        
            <div class="add-header">Add COF</div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px" class="add-data-card">
        <div fxFlex="33" fxLayout="column" fxLayoutGap="10px" class="add-data-fields">
            <div fxLayoutAlign="start center" fxLayoutGap="10px">
                <mat-label fxFlex="60">Applicable Fluid as per Table 4.1</mat-label>
                <mat-form-field fxFlex="40" appearance="outline">
                    <input matInput>
                </mat-form-field>
            </div>
            <div fxLayoutAlign="start center" fxLayoutGap="10px">
                <mat-label fxFlex="60">Normal Boiling Point 0C (from table)</mat-label>
                <mat-form-field fxFlex="40" appearance="outline">
                    <input matInput>
                </mat-form-field>
            </div>
            <div fxLayoutAlign="start center" fxLayoutGap="10px">
                <mat-label fxFlex="60">Molecular Weight</mat-label>
                <mat-form-field fxFlex="40" appearance="outline">
                    <input matInput>
                </mat-form-field>
            </div>
            <div fxLayoutAlign="start center" fxLayoutGap="10px">
                <mat-label fxFlex="60">Fluid Phase stored</mat-label>
                <mat-form-field fxFlex="40" appearance="outline">
                    <input matInput>
                </mat-form-field>
            </div>
            <div fxLayoutAlign="start center" fxLayoutGap="10px">
                <mat-label fxFlex="60">COF Flammable</mat-label>
                <mat-form-field fxFlex="40" appearance="outline">
                    <input matInput>
                </mat-form-field>
            </div>
            <div fxLayoutAlign="start center" fxLayoutGap="10px">
                <mat-label fxFlex="60">Length of Component, l mm</mat-label>
                <mat-form-field fxFlex="40" appearance="outline">
                    <input matInput>
                </mat-form-field>
            </div>
            <div fxLayoutAlign="start center" fxLayoutGap="10px">
                <mat-label fxFlex="60">Toxic Reference fluid</mat-label>
                <mat-form-field fxFlex="40" appearance="outline">
                    <input matInput>
                </mat-form-field>
            </div>
        </div>

        <div fxFlex="33" fxLayout="column" fxLayoutGap="10px" class="add-data-fields">
            <div fxLayoutAlign="start center" fxLayoutGap="10px">
                <mat-label fxFlex="60">Fluid</mat-label>
                <mat-form-field fxFlex="40" appearance="outline">
                    <input matInput>
                </mat-form-field>
            </div>
            <div fxLayoutAlign="start center" fxLayoutGap="10px">
                <mat-label fxFlex="60">Operating Temperature Ts K</mat-label>
                <mat-form-field fxFlex="40" appearance="outline">
                    <input matInput>
                </mat-form-field>
            </div>
            <div fxLayoutAlign="start center" fxLayoutGap="10px">
                <mat-label fxFlex="60">Operating Pressure Ps KPa</mat-label>
                <mat-form-field fxFlex="40" appearance="outline">
                    <input matInput>
                </mat-form-field>
            </div>
            <div fxLayoutAlign="start center" fxLayoutGap="10px">
                <mat-label fxFlex="60">Component Type</mat-label>
                <mat-form-field fxFlex="40" appearance="outline">
                    <input matInput>
                </mat-form-field>
            </div>
            <div fxLayoutAlign="start center" fxLayoutGap="10px">
                <mat-label fxFlex="60">COF Toxic</mat-label>
                <mat-form-field fxFlex="40" appearance="outline">
                    <input matInput>
                </mat-form-field>
            </div>
            <div fxLayoutAlign="start center" fxLayoutGap="10px">
                <mat-label fxFlex="60">Mass of Fluid in component Mcomp (L*D*Density)</mat-label>
                <mat-form-field fxFlex="40" appearance="outline">
                    <input matInput>
                </mat-form-field>
            </div>
            <div fxLayoutAlign="start center" fxLayoutGap="10px">
                <mat-label fxFlex="60">Toxic Fluid %</mat-label>
                <mat-form-field fxFlex="40" appearance="outline">
                    <input matInput>
                </mat-form-field>
            </div>
        </div>

        <div fxFlex="34" fxLayout="column" fxLayoutGap="10px" class="add-data-fields">
            <div fxLayoutAlign="start center" fxLayoutGap="10px">
                <mat-label fxFlex="60">Mass of Inventory Fluid Minv</mat-label>
                <mat-form-field fxFlex="40" appearance="outline">
                    <input matInput>
                </mat-form-field>
            </div>
            <div fxLayoutAlign="start center" fxLayoutGap="10px">
                <mat-label fxFlex="60">Detection System Rating (Default C)</mat-label>
                <mat-form-field fxFlex="40" appearance="outline">
                    <input matInput>
                </mat-form-field>
            </div>
            <div fxLayoutAlign="start center" fxLayoutGap="10px">
                <mat-label fxFlex="60">Fluid Phase at released condition</mat-label>
                <mat-form-field fxFlex="40" appearance="outline">
                    <input matInput>
                </mat-form-field>
            </div>
            <div fxLayoutAlign="start center" fxLayoutGap="10px">
                <mat-label fxFlex="60">Isolation system rating (Default C)</mat-label>
                <mat-form-field fxFlex="40" appearance="outline">
                    <input matInput>
                </mat-form-field>
            </div>
            <div fxLayoutAlign="start center" fxLayoutGap="10px">
                <mat-label fxFlex="60">COF Non Flam/Toxic</mat-label>
                <mat-form-field fxFlex="40" appearance="outline">
                    <input matInput>
                </mat-form-field>
            </div>
            <div fxLayoutAlign="start center" fxLayoutGap="10px">
                <mat-label fxFlex="60">Inner diameter of Component, d mm (OD-2*Thk)</mat-label>
                <mat-form-field fxFlex="40" appearance="outline">
                    <input matInput>
                </mat-form-field>
            </div>
            <div fxLayoutAlign="start center" fxLayoutGap="10px">
                <mat-label fxFlex="60">Production Loss</mat-label>
                <mat-form-field fxFlex="40" appearance="outline">
                    <input matInput>
                </mat-form-field>
            </div>
        </div>

    </div>

    <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px" class="btns">
        <button mat-raised-button color="warn">Back</button>
        <button mat-raised-button color="primary">Next</button>
    </div>
    </mat-card>
</form>