<form>
    <mat-card class="card-content" fxLayout="column" fxLayoutGap="15px">
        <div class="section-header" fxLayout="row" fxLayoutAlign="start center">                        
            <div class="add-header">Add Basic Data</div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="20px" class="add-data-card">
            <div fxFlex="33" fxLayout="column" fxLayoutGap="10px" class="add-data-fields">
                <div fxLayoutAlign="start center" fxLayoutGap="10px">
                    <mat-label fxFlex="40">Line No</mat-label>
                    <mat-form-field fxFlex="60" appearance="outline">
                        <input matInput type="text">
                    </mat-form-field>
                </div>
                <div fxLayoutAlign="start center" fxLayoutGap="10px">
                    <mat-label fxFlex="40">Description</mat-label>
                    <mat-form-field fxFlex="60" appearance="outline">
                        <input matInput type="text">
                    </mat-form-field>
                </div>
                <div fxLayoutAlign="start center" fxLayoutGap="10px">
                    <mat-label fxFlex="40">From To</mat-label>
                    <mat-form-field fxFlex="60" appearance="outline">
                        <input matInput >
                    </mat-form-field>
                </div>
                <div fxLayoutAlign="start center" fxLayoutGap="10px">
                    <mat-label fxFlex="40">P&ID No</mat-label>
                    <mat-form-field fxFlex="60" appearance="outline">
                        <input matInput>
                    </mat-form-field>
                </div>
                <div fxLayoutAlign="start center" fxLayoutGap="10px">
                    <mat-label fxFlex="40">Plant</mat-label>
                    <mat-form-field fxFlex="60" appearance="outline">
                        <input matInput>
                    </mat-form-field>
                </div>
            </div>

            <div fxFlex="33" fxLayout="column" fxLayoutGap="10px" class="add-data-fields">
                <div fxLayoutAlign="start center" fxLayoutGap="10px">
                    <mat-label fxFlex="40">Loop No</mat-label>
                    <mat-form-field fxFlex="60" appearance="outline">
                        <input matInput>
                    </mat-form-field>
                </div>
                <div fxLayoutAlign="start center" fxLayoutGap="10px">
                    <mat-label fxFlex="40">Cluster No</mat-label>
                    <mat-form-field fxFlex="60" appearance="outline">
                        <input matInput>
                    </mat-form-field>
                </div>
                <div fxLayoutAlign="start center" fxLayoutGap="10px">
                    <mat-label fxFlex="40">Year Service</mat-label>
                    <mat-form-field fxFlex="60" appearance="outline">
                        <input matInput>
                    </mat-form-field>
                </div>
                <div fxLayoutAlign="start center" fxLayoutGap="10px">
                    <mat-label fxFlex="40">Fluid</mat-label>
                    <mat-form-field fxFlex="60" appearance="outline">
                        <input matInput>
                    </mat-form-field>
                </div>
                <div fxLayoutAlign="start center" fxLayoutGap="10px">
                    <mat-label fxFlex="40">Area</mat-label>
                    <mat-form-field fxFlex="60" appearance="outline">
                        <input matInput>
                    </mat-form-field>
                </div>
            </div>

            <div fxFlex="34" fxLayout="column" fxLayoutGap="10px" class="add-data-fields">
                <div fxLayoutAlign="start center" fxLayoutGap="10px">
                    <mat-label fxFlex="40">Status</mat-label>
                    <mat-form-field fxFlex="60" appearance="outline">
                        <input matInput>
                    </mat-form-field>
                </div>
                <div fxLayoutAlign="start center" fxLayoutGap="10px">
                    <mat-label fxFlex="40">Next Insp</mat-label>
                    <mat-form-field fxFlex="60" appearance="outline">
                        <input matInput>
                    </mat-form-field>
                </div>
                <div fxLayoutAlign="start center" fxLayoutGap="10px">
                    <mat-label fxFlex="40">Follow Up</mat-label>
                    <mat-form-field fxFlex="60" appearance="outline">
                        <input matInput>
                    </mat-form-field>
                </div>
                <div fxLayoutAlign="start center" fxLayoutGap="10px">
                    <mat-label fxFlex="40">Train</mat-label>
                    <mat-form-field fxFlex="60" appearance="outline">
                        <input matInput>
                    </mat-form-field>
                </div>
            </div>
        </div>
    
        <div fxLayout="row" fxLayoutAlign="end center" class="btns">
            <button mat-raised-button color="primary">Next</button>
        </div>
    </mat-card>
</form>