<form>
    <mat-card class="card-content" fxLayout="column" fxLayoutGap="15px">
        <div class="section-header" fxLayout="row" fxLayoutAlign="start center">                        
            <div class="add-header">Add Internal Corrosion</div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="20px" class="add-data-card">
            <div fxFlex="33" fxLayout="column" fxLayoutGap="10px" class="add-data-fields">
                <div fxLayoutAlign="start center" fxLayoutGap="10px">
                    <mat-label fxFlex="60">Injection Points / Intermitent</mat-label>
                    <mat-form-field fxFlex="40" appearance="outline">
                        <input matInput>
                    </mat-form-field>
                </div>                
                <div fxLayoutAlign="start center" fxLayoutGap="10px">
                    <mat-label fxFlex="60">Effective Internal Corrosion Rate (EICR)</mat-label>
                    <mat-form-field fxFlex="40" appearance="outline">
                        <input matInput>
                    </mat-form-field>
                </div>
                <div fxLayoutAlign="start center" fxLayoutGap="10px">
                    <mat-label fxFlex="60">Damage Factor</mat-label>
                    <mat-form-field fxFlex="40" appearance="outline">
                        <input matInput>
                    </mat-form-field>
                </div>                
                <div fxLayoutAlign="start center" fxLayoutGap="10px">
                    <mat-label fxFlex="60">POF</mat-label>
                    <mat-form-field fxFlex="40" appearance="outline">
                        <input matInput>
                    </mat-form-field>
                </div>
            </div>

            <div fxFlex="33" fxLayout="column" fxLayoutGap="10px" class="add-data-fields">                
                <div fxLayoutAlign="start center" fxLayoutGap="10px">
                    <mat-label fxFlex="60">Theoritical Corrosion Rate(TICR)</mat-label>
                    <mat-form-field fxFlex="40" appearance="outline">
                        <input matInput>
                    </mat-form-field>
                </div>
                <div fxLayoutAlign="start center" fxLayoutGap="10px">
                    <mat-label fxFlex="60">Measured Long Term Corrosion Rate (LICR)</mat-label>
                    <mat-form-field fxFlex="40" appearance="outline">
                        <input matInput>
                    </mat-form-field>
                </div>
                <div fxLayoutAlign="start center" fxLayoutGap="10px">
                    <mat-label fxFlex="60">Measured Short Term Corrosion Rate (SICR)</mat-label>
                    <mat-form-field fxFlex="40" appearance="outline">
                        <input matInput>
                    </mat-form-field>
                </div>
                <div fxLayoutAlign="start center" fxLayoutGap="10px">
                    <mat-label fxFlex="60">Effective Internal Age</mat-label>
                    <mat-form-field fxFlex="40" appearance="outline">
                        <input matInput>
                    </mat-form-field>
                </div>
            </div>

            <div fxFlex="34" fxLayout="column" fxLayoutGap="10px" class="add-data-fields">
                <div fxLayoutAlign="center center">
                    <div class="ic">Inspection Confidence</div>
                </div>                
                <div fxLayoutAlign="start center" fxLayoutGap="10px">
                    <mat-label fxFlex="60">Very High</mat-label>
                    <mat-form-field fxFlex="40" appearance="outline">
                        <input matInput>
                    </mat-form-field>
                </div>
                <div fxLayoutAlign="start center" fxLayoutGap="10px">
                    <mat-label fxFlex="60">High</mat-label>
                    <mat-form-field fxFlex="40" appearance="outline">
                        <input matInput>
                    </mat-form-field>
                </div>
                <div fxLayoutAlign="start center" fxLayoutGap="10px">
                    <mat-label fxFlex="60">Medium</mat-label>
                    <mat-form-field fxFlex="40" appearance="outline">
                        <input matInput>
                    </mat-form-field>
                </div>
                <div fxLayoutAlign="start center" fxLayoutGap="10px">
                    <mat-label fxFlex="60">Low</mat-label>
                    <mat-form-field fxFlex="40" appearance="outline">
                        <input matInput>
                    </mat-form-field>
                </div>
            </div>
        </div>
    
        <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px" class="btns">
            <button mat-raised-button color="warn">Back</button>
            <button mat-raised-button color="primary">Next</button>
        </div>
    </mat-card>
</form>