<form [formGroup]="editData">
    <div fxLayout="column" fxLayoutGap="10px">
        <mat-icon color="warn" fxFlex="5" fxLayoutAlign="end start" class="close-icon" (click)="closeDialog()">close
        </mat-icon>
        <div fxLayout="row" class="dialog-header">
            <div fxLayoutAlign="start center" class="dialog-header">
                <div>EDIT STRUCTURAL MIN THK</div>
            </div>
        </div>

        <mat-dialog-content>
            <div fxLayout="column" fxLayoutGap="10px" class="edit-data-fields">

                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                    <mat-label fxFlex="40">Component Type</mat-label>
                    <mat-form-field fxFlex="50" appearance="outline">
                        <input matInput formControlName="componentType">
                        <mat-error
                            *ngIf="editData.controls.componentType?.errors && (editData.controls.componentType?.dirty || editData.controls.componentType?.touched)">
                            <div class="err-msg" *ngIf="editData.controls.componentType?.errors.required">
                                Component Type is required.
                            </div>
                        </mat-error>
                    </mat-form-field>
                    <span fxFlex="10"></span>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                    <mat-label fxFlex="40">Outside Diameter (IN)</mat-label>
                    <mat-form-field fxFlex="50" appearance="outline">
                        <input matInput formControlName="outsideDiameterInches">
                        <mat-error
                            *ngIf="editData.controls.outsideDiameterInches?.errors && (editData.controls.outsideDiameterInches?.dirty || editData.controls.outsideDiameterInches?.touched)">
                            <div class="err-msg" *ngIf="editData.controls.outsideDiameterInches?.errors.required">
                                Outside Diameter (IN) is required.
                            </div>
                        </mat-error>
                    </mat-form-field>
                    <span fxFlex="10"></span>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                    <mat-label fxFlex="40">Outside Diameter (MM)</mat-label>
                    <mat-form-field fxFlex="50" appearance="outline">
                        <input matInput formControlName="outsideDiameterMM">
                        <mat-error
                            *ngIf="editData.controls.outsideDiameterMM?.errors && (editData.controls.outsideDiameterMM?.dirty || editData.controls.outsideDiameterMM?.touched)">
                            <div class="err-msg" *ngIf="editData.controls.outsideDiameterMM?.errors.required">
                                Outside Diameter (MM) is required.
                            </div>
                        </mat-error>
                    </mat-form-field>
                    <span fxFlex="10"></span>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                    <mat-label fxFlex="40">Structural Min Thk (MM)</mat-label>
                    <mat-form-field fxFlex="50" appearance="outline">
                        <input matInput formControlName="structureWallThicknessMM">
                        <mat-error
                            *ngIf="editData.controls.componentType?.errors && (editData.controls.componentType?.dirty || editData.controls.componentType?.touched)">
                            <div class="err-msg" *ngIf="editData.controls.componentType?.errors.required">
                                Structural Min Thk (MM) is required.
                            </div>
                        </mat-error>
                    </mat-form-field>
                    <span fxFlex="10"></span>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center">
                    <mat-checkbox color="primary" formControlName="active">Active</mat-checkbox>
                </div>

            </div>
        </mat-dialog-content>

        <mat-dialog-actions fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
            <button type="submit" mat-raised-button color="primary" class="save-btn" (click)="onSubmit()">
                <mat-icon class="save-icon">save</mat-icon>
                Save
            </button>
            <button type="button" mat-raised-button color="warn" class="cancel-btn" (click)="onCancel()">
                <mat-icon>clear</mat-icon>
                Cancel
            </button>
        </mat-dialog-actions>

    </div>
</form>