<div fxLayout="column" fxLayoutGap="5px">
    <mat-icon fxFlex="5" fxLayoutAlign="end start" class="close-icon" (click)="closeDialog()">close
    </mat-icon>

    <mat-card class="dialog-header matrix-card" fxLayout="row" fxLayoutAlign="start center">
        <div>Edit Internal Corrosion</div>
    </mat-card>

    <mat-dialog-content [formGroup]="editICData">
        <div fxLayout="column" fxLayoutGap="5px">
            <div fxLayout="row" fxLayoutGap="5px" class="edit-dialog-data-fields">

                <mat-card fxFlex="100" class="section-card" fxLayout="row" fxLayoutAlign="start center">
                    <div fxFlex="20" fxLayout="column" fxLayoutGap="5px">
                        <div fxLayoutAlign="start center" fxLayoutGap="5px">
                            <mat-label fxFlex="100">Inject Points</mat-label>
                        </div>
                        <div fxLayoutAlign="start center" fxLayoutGap="5px" style="height:30px;">
                            <mat-card class="checkbox-field">

                                <mat-checkbox color="primary" formControlName="injectionPoints"></mat-checkbox>

                            </mat-card>
                        </div>
                    </div>

                    <div fxFlex="20" fxLayout="column" fxLayoutGap="5px">
                        <div fxLayoutAlign="start center" fxLayoutGap="5px">
                            <mat-label fxFlex="100">Use LCR</mat-label>
                        </div>
                        <div fxLayoutAlign="start center" fxLayoutGap="5px" style="height:30px;">
                            <mat-card class="checkbox-field">

                                <mat-checkbox color="primary" formControlName="useMeasuredLCR"></mat-checkbox>

                            </mat-card>
                        </div>

                    </div>
                    <div fxFlex="20" fxLayout="column" fxLayoutGap="5px">
                        <div fxLayoutAlign="start center" fxLayoutGap="5px">
                            <mat-label fxFlex="100">Use SCR</mat-label>
                        </div>
                        <div fxLayoutAlign="start center" fxLayoutGap="5px" style="height:30px;">
                            <mat-card class="checkbox-field">

                                <mat-checkbox color="primary" formControlName="useMeasuredSCR"></mat-checkbox>

                            </mat-card>

                        </div>
                    </div>
                    <div fxFlex="20" fxLayout="column" fxLayoutGap="5px">

                        <div fxLayoutAlign="start center" fxLayoutGap="5px">
                            <span fxFlex="100"></span>
                            <br>
                            <br>
                        </div>
                        <div fxLayoutAlign="start center" fxLayoutGap="5px">
                            <span fxFlex="100"></span>
                            <br>
                        </div>

                    </div>

                    <div fxFlex="20" fxLayout="column" fxLayoutGap="5px">

                        <div fxLayoutAlign="start center" fxLayoutGap="5px">
                            <span fxFlex="100"></span>
                            <br>
                            <br>
                        </div>
                        <div fxLayoutAlign="start center" fxLayoutGap="5px">
                            <span fxFlex="100"></span>
                            <br>
                        </div>


                    </div>
                </mat-card>
            </div>

            <div fxLayout="row" fxLayoutGap="5px" class="edit-dialog-data-fields">
                <mat-card fxFlex="100" class="section-card" fxLayout="row" fxLayoutAlign="start center">
                    <div fxFlex="20" fxLayout="column" fxLayoutGap="5px">
                        <div fxLayoutAlign="start center" fxLayoutGap="5px">
                            <mat-label fxFlex="100">Theoretical CR</mat-label>
                        </div>
                        <div fxLayoutAlign="start center" fxLayoutGap="5px">
                            <mat-card fxFlex="90" class="pipe-master-readonly-field">
                                <mat-form-field fxFlex="90">
                                    <input type="number" tabindex="-1" readonly matInput formControlName="theoriticalCR">
                                </mat-form-field>
                            </mat-card>
                        </div>
                        <div fxLayoutAlign="start center" fxLayoutGap="5px">
                            <mat-label fxFlex="100">Very High</mat-label>
                        </div>
                        <div fxLayoutAlign="start center" fxLayoutGap="5px">
                            <mat-card fxFlex="90" class="pipe-master-readonly-field">
                                <mat-form-field fxFlex="90">
                                    <input type="number" tabindex="-1" readonly matInput formControlName="veryHigh">
                                </mat-form-field>
                            </mat-card>
                        </div>
                    </div>
                    <div fxFlex="20" fxLayout="column" fxLayoutGap="5px">
                        <div fxLayoutAlign="start center" fxLayoutGap="5px">
                            <mat-label fxFlex="100">Long Term CR</mat-label>
                        </div>
                        <div fxLayoutAlign="start center" fxLayoutGap="5px">
                            <mat-card fxFlex="90" class="pipe-master-readonly-field">
                                <mat-form-field fxFlex="90">
                                    <input type="number" tabindex="-1" readonly matInput formControlName="measuredLCR">
                                </mat-form-field>
                            </mat-card>
                        </div>
                        <div fxLayoutAlign="start center" fxLayoutGap="5px">
                            <mat-label fxFlex="100">High</mat-label>
                        </div>
                        <div fxLayoutAlign="start center" fxLayoutGap="5px">
                            <mat-card fxFlex="90" class="pipe-master-readonly-field">
                                <mat-form-field fxFlex="90">
                                    <input type="number" tabindex="-1" readonly matInput formControlName="high">
                                </mat-form-field>
                            </mat-card>
                        </div>

                    </div>
                    <div fxFlex="20" fxLayout="column" fxLayoutGap="5px">
                        <div fxLayoutAlign="start center" fxLayoutGap="5px">
                            <mat-label fxFlex="100">Short Term CR</mat-label>
                        </div>
                        <div fxLayoutAlign="start center" fxLayoutGap="5px">
                            <mat-card fxFlex="90" class="pipe-master-readonly-field">
                                <mat-form-field fxFlex="90">
                                    <input type="number" tabindex="-1" readonly matInput formControlName="measuredSCR">
                                </mat-form-field>
                            </mat-card>
                        </div>
                        <div fxLayoutAlign="start center" fxLayoutGap="5px">
                            <mat-label fxFlex="100">Medium</mat-label>
                        </div>
                        <div fxLayoutAlign="start center" fxLayoutGap="5px">
                            <mat-card fxFlex="90" class="pipe-master-readonly-field">
                                <mat-form-field fxFlex="90">
                                    <input type="number" tabindex="-1" readonly matInput formControlName="medium">
                                </mat-form-field>
                            </mat-card>
                        </div>
                    </div>
                    <div fxFlex="20" fxLayout="column" fxLayoutGap="5px">
                        <div fxLayoutAlign="start center" fxLayoutGap="5px">
                            <span fxFlex="100"></span>
                            <br>
                            <br>
                        </div>
                        <div fxLayoutAlign="start center" fxLayoutGap="5px">
                            <span fxFlex="100"></span>
                            <br>
                        </div>
                        <div fxLayoutAlign="start center" fxLayoutGap="5px">
                            <mat-label fxFlex="100">Low</mat-label>
                        </div>
                        <div fxLayoutAlign="start center" fxLayoutGap="5px">
                            <mat-card fxFlex="90" class="pipe-master-readonly-field">
                                <mat-form-field fxFlex="90">
                                    <input type="number" tabindex="-1" readonly matInput formControlName="low">
                                </mat-form-field>
                            </mat-card>
                        </div>
                    </div>
                    <div fxFlex="20" fxLayout="column" fxLayoutGap="5px">

                        <div fxLayoutAlign="start center" fxLayoutGap="5px">
                            <span fxFlex="100"></span>
                            <br>
                            <br>
                        </div>
                        <div fxLayoutAlign="start center" fxLayoutGap="5px">
                            <span fxFlex="100"></span>
                            <br>
                        </div>
                        <div fxLayoutAlign="start center" fxLayoutGap="5px">
                            <span fxFlex="100"></span>
                            <br>
                            <br>
                        </div>
                        <div fxLayoutAlign="start center" fxLayoutGap="5px">
                            <span fxFlex="100"></span>
                            <br>
                        </div>

                    </div>
                </mat-card>
            </div>


            <div fxLayout="row" fxLayoutGap="5px" class="edit-dialog-data-fields">
                <mat-card fxFlex="100" class="section-card" fxLayout="row" fxLayoutAlign="start center">
                       
                    <div fxFlex="20" fxLayout="column" fxLayoutGap="5px">
                            <div fxLayoutAlign="start center" fxLayoutGap="5px">
                                    <mat-label fxFlex="100">Art</mat-label>
                                </div>
                                <div fxLayoutAlign="start center" fxLayoutGap="5px">
                                    <mat-card fxFlex="90" class="pipe-master-readonly-field">
                                        <mat-form-field fxFlex="90">
                                            <input type="number" tabindex="-1" readonly matInput formControlName="art">
                                        </mat-form-field>
                                    </mat-card>
                                </div>
                        <div fxLayoutAlign="start center" fxLayoutGap="5px">
                            <mat-label fxFlex="100">Effective CR</mat-label>
                        </div>
                        <div fxLayoutAlign="start center" fxLayoutGap="5px">
                            <mat-card fxFlex="90" class="pipe-master-readonly-field">
                                <mat-form-field fxFlex="90">
                                    <input type="number" tabindex="-1" readonly matInput formControlName="effectiveCR">
                                </mat-form-field>
                            </mat-card>
                        </div>


                    </div>
                    <div fxFlex="20" fxLayout="column" fxLayoutGap="5px">
                            <div fxLayoutAlign="start center" fxLayoutGap="5px">
                                    <mat-label fxFlex="100">Strength Ratio</mat-label>
                                </div>
                                <div fxLayoutAlign="start center" fxLayoutGap="5px">
                                    <mat-card fxFlex="90" class="pipe-master-readonly-field">
                                        <mat-form-field fxFlex="90">
                                            <input type="number" tabindex="-1" readonly matInput formControlName="strengthRatio">
                                        </mat-form-field>
                                    </mat-card>
                                </div>
                        <div fxLayoutAlign="start center" fxLayoutGap="5px">
                            <mat-label fxFlex="100">Effective Age</mat-label>
                        </div>
                        <div fxLayoutAlign="start center" fxLayoutGap="5px">
                            <mat-card fxFlex="90" class="pipe-master-readonly-field">
                                <mat-form-field fxFlex="90">
                                    <input type="number" tabindex="-1" readonly matInput formControlName="effectiveAge">
                                </mat-form-field>
                            </mat-card>
                        </div>

                    </div>
                    <div fxFlex="20" fxLayout="column" fxLayoutGap="5px">
                       
                            <div fxLayoutAlign="start center" fxLayoutGap="5px">
                                    <span fxFlex="100"></span>
                                    <br>
                                    <br>
                                </div>
                                <div fxLayoutAlign="start center" fxLayoutGap="5px">
                                    <span fxFlex="100"></span>
                                    <br>
                                </div>
                        <div fxLayoutAlign="start center" fxLayoutGap="5px">
                            <mat-label fxFlex="100">Damage Factor</mat-label>
                        </div>
                        <div fxLayoutAlign="start center" fxLayoutGap="5px">
                            <mat-card fxFlex="90" class="pipe-master-readonly-field">
                                <mat-form-field fxFlex="90">
                                    <input type="number" tabindex="-1" readonly matInput formControlName="damageFactor">
                                </mat-form-field>
                            </mat-card>
                        </div>

                    </div>
                    <div fxFlex="20" fxLayout="column" fxLayoutGap="5px">
                            <div fxLayoutAlign="start center" fxLayoutGap="5px">
                                    <span fxFlex="100"></span>
                                    <br>
                                    <br>
                                </div>
                                <div fxLayoutAlign="start center" fxLayoutGap="5px">
                                    <span fxFlex="100"></span>
                                    <br>
                                </div>
                        <div fxLayoutAlign="start center" fxLayoutGap="5px">
                            <mat-label fxFlex="100">POF</mat-label>
                        </div>
                        <div fxLayoutAlign="start center" fxLayoutGap="5px">
                            <mat-card fxFlex="90" class="pipe-master-readonly-field">
                                <mat-form-field fxFlex="90">
                                    <input type="number" tabindex="-1" readonly matInput formControlName="pof">
                                </mat-form-field>
                            </mat-card>
                        </div>

                    </div>

                    <div fxFlex="20" fxLayout="column" fxLayoutGap="5px">
                        <div fxLayoutAlign="start center" fxLayoutGap="5px">
                            <span fxFlex="100"></span>
                            <br>
                            <br>
                        </div>
                        <div fxLayoutAlign="start center" fxLayoutGap="5px">
                            <span fxFlex="100"></span>
                            <br>
                        </div>
                        <div fxLayoutAlign="start center" fxLayoutGap="5px">
                                <span fxFlex="100"></span>
                                <br>
                                <br>
                            </div>
                            <div fxLayoutAlign="start center" fxLayoutGap="5px">
                                <span fxFlex="100"></span>
                                <br>
                            </div>
                    </div>

                </mat-card>

            </div>
        </div>
        <mat-divider></mat-divider>
    </mat-dialog-content>
    <mat-dialog-actions fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
        <button mat-raised-button class="primary" (click)="onSaveData()">
            Save</button>
        <button mat-raised-button color="warn" (click)="onCancel()">
        Cancel</button>
    </mat-dialog-actions>
</div>
