<form>
    <mat-card class="card-content" fxLayout="column" fxLayoutGap="15px">
        <div class="section-header" fxLayout="row" fxLayoutAlign="start center">
            <div class="add-header">Add Design Data</div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="20px" class="add-data-card">
            <div fxFlex="33" fxLayout="column" fxLayoutGap="10px" class="add-data-fields">
                <div fxLayoutAlign="start center" fxLayoutGap="10px">
                    <mat-label fxFlex="60">Design Temp</mat-label>
                    <mat-form-field fxFlex="40" appearance="outline">
                        <input matInput>
                    </mat-form-field>
                </div>
                <div fxLayoutAlign="start center" fxLayoutGap="10px">
                    <mat-label fxFlex="60">Design Pressure Psi (P)</mat-label>
                    <mat-form-field fxFlex="40" appearance="outline">
                        <input matInput>
                    </mat-form-field>
                </div>
                <div fxLayoutAlign="start center" fxLayoutGap="10px">
                    <mat-label fxFlex="60">Operting Temp</mat-label>
                    <mat-form-field fxFlex="40" appearance="outline">
                        <input matInput>
                    </mat-form-field>
                </div>
                <div fxLayoutAlign="start center" fxLayoutGap="10px">
                    <mat-label fxFlex="60">Operting Pressure</mat-label>
                    <mat-form-field fxFlex="40" appearance="outline">
                        <input matInput>
                    </mat-form-field>
                </div>
                <div fxLayoutAlign="start center" fxLayoutGap="10px">
                    <mat-label fxFlex="60">Pipe Spec</mat-label>
                    <mat-form-field fxFlex="40" appearance="outline">
                        <input matInput>
                    </mat-form-field>
                </div>
                <div fxLayoutAlign="start center" fxLayoutGap="10px">
                    <mat-label fxFlex="60">Joint Efficiency (E)</mat-label>
                    <mat-form-field fxFlex="40" appearance="outline">
                        <input matInput>
                    </mat-form-field>
                </div>
                <div fxLayoutAlign="start center" fxLayoutGap="10px">
                    <mat-label fxFlex="60">Construction Code</mat-label>
                    <mat-form-field fxFlex="40" appearance="outline">
                        <input matInput>
                    </mat-form-field>
                </div>
                <div fxLayoutAlign="start center" fxLayoutGap="10px">
                    <mat-label fxFlex="60">Allowable Stress (S)</mat-label>
                    <mat-form-field fxFlex="40" appearance="outline">
                        <input matInput>
                    </mat-form-field>
                </div>
                <div fxLayoutAlign="start center" fxLayoutGap="10px">
                    <mat-label fxFlex="60">Flow Stress</mat-label>
                    <mat-form-field fxFlex="40" appearance="outline">
                        <input matInput>
                    </mat-form-field>
                </div>
            </div>

            <div fxFlex="33" fxLayout="column" fxLayoutGap="10px" class="add-data-fields">
                <div fxLayoutAlign="start center" fxLayoutGap="10px">
                    <mat-label fxFlex="60">Material Std</mat-label>
                    <mat-form-field fxFlex="40" appearance="outline">
                        <input matInput>
                    </mat-form-field>
                </div>
                <div fxLayoutAlign="start center" fxLayoutGap="10px">
                    <mat-label fxFlex="60">Material Grade</mat-label>
                    <mat-form-field fxFlex="40" appearance="outline">
                        <input matInput>
                    </mat-form-field>
                </div>
                <div fxLayoutAlign="start center" fxLayoutGap="10px">
                    <mat-label fxFlex="60">PWHT</mat-label>
                    <mat-form-field fxFlex="40" appearance="outline">
                        <input matInput>
                    </mat-form-field>
                </div>
                <div fxLayoutAlign="start center" fxLayoutGap="10px">
                    <mat-label fxFlex="60">Corrosion Allowance (CA)</mat-label>
                    <mat-form-field fxFlex="40" appearance="outline">
                        <input matInput>
                    </mat-form-field>
                </div>
                <div fxLayoutAlign="start center" fxLayoutGap="10px">
                    <mat-label fxFlex="60">User Cal Min Req Thk (UMT)</mat-label>
                    <mat-form-field fxFlex="40" appearance="outline">
                        <input matInput>
                    </mat-form-field>
                </div>
                <div fxLayoutAlign="start center" fxLayoutGap="10px">
                    <mat-label fxFlex="60">Pr Min Req Thk-Int (PMT)</mat-label>
                    <mat-form-field fxFlex="40" appearance="outline">
                        <input matInput>
                    </mat-form-field>
                </div>
                <div fxLayoutAlign="start center" fxLayoutGap="10px">
                    <mat-label fxFlex="60">Struc Min Thk (SMT)</mat-label>
                    <mat-form-field fxFlex="40" appearance="outline">
                        <input matInput>
                    </mat-form-field>
                </div>
                <div fxLayoutAlign="start center" fxLayoutGap="10px">
                    <mat-label fxFlex="60">Yield Strength (YS)</mat-label>
                    <mat-form-field fxFlex="40" appearance="outline">
                        <input matInput>
                    </mat-form-field>
                </div>
                <div fxLayoutAlign="start center" fxLayoutGap="10px">
                    <mat-label fxFlex="60">Pr Min Req Thk-Ext (PMT-E)</mat-label>
                    <mat-form-field fxFlex="40" appearance="outline">
                        <input matInput>
                    </mat-form-field>
                </div>
                <div fxLayoutAlign="start center" fxLayoutGap="10px">
                    <mat-label fxFlex="60">Last Measured Year (LMY)</mat-label>
                    <mat-form-field fxFlex="40" appearance="outline">
                        <input matInput>
                    </mat-form-field>
                </div>
                <div fxLayoutAlign="start center" fxLayoutGap="10px">
                    <mat-label fxFlex="60">Last Measured Thick (LMT)</mat-label>
                    <mat-form-field fxFlex="40" appearance="outline">
                        <input matInput>
                    </mat-form-field>
                </div>
            </div>

            <div fxFlex="34" fxLayout="column" fxLayoutGap="10px" class="add-data-fields">
                <div fxLayoutAlign="start center" fxLayoutGap="10px">
                    <mat-label fxFlex="60">Insulated</mat-label>
                    <mat-form-field fxFlex="40" appearance="outline">
                        <input matInput>
                    </mat-form-field>
                </div>
                <div fxLayoutAlign="start center" fxLayoutGap="10px">
                    <mat-label fxFlex="60">Insulation Type</mat-label>
                    <mat-form-field fxFlex="40" appearance="outline">
                        <input matInput>
                    </mat-form-field>
                </div>
                <div fxLayoutAlign="start center" fxLayoutGap="10px">
                    <mat-label fxFlex="60">Nom Dia (D) inches</mat-label>
                    <mat-form-field fxFlex="40" appearance="outline">
                        <input matInput>
                    </mat-form-field>
                </div>
                <div fxLayoutAlign="start center" fxLayoutGap="10px">
                    <mat-label fxFlex="60">Nom Thk-inches</mat-label>
                    <mat-form-field fxFlex="40" appearance="outline">
                        <input matInput>
                    </mat-form-field>
                </div>
                <div fxLayoutAlign="start center" fxLayoutGap="10px">
                    <mat-label fxFlex="60">Length-inches</mat-label>
                    <mat-form-field fxFlex="40" appearance="outline">
                        <input matInput>
                    </mat-form-field>
                </div>
                <div fxLayoutAlign="start center" fxLayoutGap="10px">
                    <mat-label fxFlex="60">MDMT Temp</mat-label>
                    <mat-form-field fxFlex="40" appearance="outline">
                        <input matInput>
                    </mat-form-field>
                </div>
                <div fxLayoutAlign="start center" fxLayoutGap="10px">
                    <mat-label fxFlex="60">Effective MT (EMRT)</mat-label>
                    <mat-form-field fxFlex="40" appearance="outline">
                        <input matInput>
                    </mat-form-field>
                </div>
                <div fxLayoutAlign="start center" fxLayoutGap="10px">
                    <mat-label fxFlex="60">Tensile Strength (TS)</mat-label>
                    <mat-form-field fxFlex="40" appearance="outline">
                        <input matInput>
                    </mat-form-field>
                </div>
                <div fxLayoutAlign="start center" fxLayoutGap="10px">
                    <mat-label fxFlex="60">Strength Ratio</mat-label>
                    <mat-form-field fxFlex="40" appearance="outline">
                        <input matInput>
                    </mat-form-field>
                </div>
                <div fxLayoutAlign="start center" fxLayoutGap="10px">
                    <mat-label fxFlex="60">Effective Thk</mat-label>
                    <mat-form-field fxFlex="40" appearance="outline">
                        <input matInput>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px" class="btns">
            <button mat-raised-button color="warn">Back</button>
            <button mat-raised-button color="primary">Next</button>
        </div>
    </mat-card>
</form>