.corr-study-header {
    background-color: #FFFFFF!important;
    padding: 3px 16px;
    font-size: 12px;
}

.corr-study-title {
    font-size: 12px !important;
    color: #003D7E !important;
    font-weight: bold;
    font-family: 'Open Sans' !important;
}


.corr-study {
    padding: 20px;
    height: calc(100vh - 90px);
}

.corr, .calc-data{
    height: 100%;
    padding-bottom: 0px;
}

.field, .card-content {
    height: 100%;
    width: 100%;
}

.card-content {
    height: 100%;
    overflow-y: auto;
    word-wrap: break-word;
    padding:0px !important;
}

table {
    width: 100%;
}

  /* .mat-card-title, .mat-card-content {
      display: block !important;
      margin: 0px !important; 
      font-size:12px !important;    
      color:#003D7E !important;
      padding:10px !important;
} */

.section-header{
    padding: 12px 8px 13px 8px;
    font-size:12px !important;    
    color: #003D7E !important;
    font-weight: bold;
    font-family: 'Open Sans';
}

.section-content{
    padding: 15px 8px 0px 10px !important;
}

.field {
    width: 100%;
    height: 100%;
}

.corr-read-only {
    padding: 0 5px !important;
    height:28px !important;
    background-color: #CACFD2 !important;
}

.card-text-field {
    padding: 0 5px !important;
    /* height: 40px !important; */
    background-color: #F2F3F4  !important;
}

  .table-content{
    background-color:#FFFFFF !important;
    margin-top:0px !important;   
}

  th{ 
    background-color: #FFFFFF !important;  
    color: #003D7E !important; 
    font-size: 12px !important; 
    /* height: 28px !important;  */
   
}
/* tr.mat-header-row {  
    height: 25px !important;  
    
}
tr.mat-row {  
    height: 25px !important;
    font-size: 12px !important; 
} */
td.mat-cell {
    font-size: 12px !important; 
}

/* .study-table th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
    padding-left: 5px !important;
}

.study-table th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
    padding-right: 8px !important;
} */

.corr-cluster .mat-tab-label {
    height: 30px !important;
    color: #161726 !important;
    font-size: 12px;
    font-weight: 600;  
  }

  .card-field {
    padding: 0 5px !important;
    height:28px !important;
    background-color: #F2F3F4  !important;
    border: 0px inset   #FFFFFF !important;
}

.card-field:focus-within
{
    background-color:#DAEBFF !important;
}

.table-content .mat-form-field-underline {
    display: none !important;
  }

.table-content .mat-form-field-flex {
    height: 30px !important;
    color:#003D7E;
    margin-top:-5px !important;
}

.section-content .mat-form-field-underline {
    display: none !important;
  }

.section-content .mat-form-field-flex {
    height: 30px !important;
    /* color:#003D7E; */
    margin-top:-5px !important;
}

.file-chip {
    background: #E5E5E5 !important;
    justify-content: space-between  !important;
    
 }

 .input-fileupload-hidden{
    display:none;
  }

  .mandatory {
    color: red;
    margin-left: 3px;
  }

  .mat-standard-chip.mat-chip-with-trailing-icon {
    margin:3px 5px !important;
    padding: 5px !important;
}

.mat-standard-chip {
    border-radius:5px !important;
    min-height:30px !important;
}

.mat-chip.mat-standard-chip .mat-chip-remove {
    color: red;
    opacity: .7;
}


.corr-cluster .mat-tab-label.mat-tab-label-active {
    min-width: 140px !important;
}

.table-button {
    width: 24px;
    height: 24px;
    margin: 5px;
}

.table-icon {
    font-size: 17px;
    margin-top: -10px;
    /* padding-top:2px; */
}

.corr-readonly-field {   
    height:28px;
    word-wrap: break-word;
    padding:0px !important;
    padding-left:5px !important;
    background-color: #CACFD2;
  }

  
  /* .corr-cluster .mat-tab-body-content {
    overflow:hidden !important;
  } */
  .breadcrumb{
    height:30px; 
    line-height: 25px;
    background:  #FFFFFF;
    padding: 2px; 
}

.title{   
    color:#003D7E !important;      
    font-size:12px;  
    vertical-align: top;
    padding-left:10px;
    padding-right:10px;
    float:left;
    font-family: 'Open Sans';
}
.breadcrumb-box{   
    color:#003D7E !important;      
    font-size:12px;  
    vertical-align: top;
    padding-left:10px;
    padding-right:10px;
    float:right;
    font-family: 'Open Sans';
}
.mat-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button {
    line-height:30px !important;
}

.cluster-data {
    padding-top: 20px;
}
    
.cluster-fields {
    font-size: 12px;
}