<div fxLayout="column" fxLayoutGap="5px">

       
            <div fxLayout="row" class="dialog-header">
                <div fxFlex="90" fxLayoutAlign="start center" style="padding-left:10px;">Forgot Password</div>
                <div>
                <a [mat-dialog-close]="true" fxLayoutAlign="end end" style="cursor:pointer;">
                    <mat-icon color="warn">close</mat-icon>
                </a>
              </div>
            </div>       
       <br>
        <mat-dialog-content >
            <div fxLayout="row" fxLayoutGap="2px" class="edit-dialog-data-fields">
             
               
            </div>
            <br>
            <div fxLayout="row" fxLayoutGap="10px" class="edit-dialog-data-fields">
                <div fxFlex="100" fxLayout="column" fxLayoutGap="10px">
    
    
                        <div fxLayoutAlign="start center" fxLayoutGap="10px">
                                <mat-label fxFlex="100">Email</mat-label>
                               
                            </div>
                    <div fxLayoutAlign="start center" fxLayoutGap="10px">
                      
                        <mat-form-field fxFlex="100" appearance="outline">
                            <input matInput>
                        </mat-form-field>
                       
                    </div>
                   
    
                </div>
    
               
    
            </div>
            <br>
     <mat-divider style="color:#DAEBFF;"></mat-divider>
        </mat-dialog-content>
        <mat-dialog-actions fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
            <button mat-raised-button color="primary"  style="background:#003D7E !important; color:#FFFFFF !important;"><mat-icon style="font-size:20px;padding-top:2px; color:#FFFFFF !important;">done</mat-icon> &nbsp; Submit</button>
            <!-- <button mat-raised-button color="primary">Recalculate</button> -->
            <button mat-raised-button color="warn" style="background:#DAEBFF  !important;color:#003D7E  !important;"><mat-icon style="font-size:20px;padding-top:2px;">clear</mat-icon> &nbsp;Cancel</button>
        </mat-dialog-actions>
    </div>
