<form>
    <mat-card class="card-content" fxLayout="column" fxLayoutGap="15px">
      <div class="section-header" fxLayout="row" fxLayoutAlign="start center">                        
        <div fxFlex="95" class="add-header">Add Environment Cracking</div>
        <div fxFlex="5" class="add-header">
          <mat-icon matTooltip="Add">add</mat-icon>
        </div>
    </div>
      <div class="add-header">
        <table mat-table [dataSource]="trendableDataSource">
          <ng-container matColumnDef="DM Code">
            <th mat-header-cell *matHeaderCellDef> DM Code </th>
            <td mat-cell *matCellDef="let element"> </td>
            <td mat-footer-cell *matFooterCellDef>
              <mat-form-field>
                <mat-label></mat-label>
                <input matInput>
              </mat-form-field>
            </td>
          </ng-container>
  
          <ng-container matColumnDef="Initial Sucep (corrosion study)">
            <th mat-header-cell *matHeaderCellDef> Initial Sucep (corrosion study) </th>
            <td mat-cell *matCellDef="let element"></td>
            <td mat-footer-cell *matFooterCellDef>
              <mat-form-field>
                <mat-label></mat-label>
                <input matInput>
              </mat-form-field>
            </td>
          </ng-container>
  
          <ng-container matColumnDef="Severity Score (From corr study)">
            <th mat-header-cell *matHeaderCellDef> Severity Score (From corr study) </th>
            <td mat-cell *matCellDef="let element"></td>
            <td mat-footer-cell *matFooterCellDef>
              <mat-form-field>
                <mat-label></mat-label>
                <input matInput>
              </mat-form-field>
            </td>
          </ng-container>
  
          <ng-container matColumnDef="Adjusted Suspeta">
            <th mat-header-cell *matHeaderCellDef> Adjusted Suspeta </th>
            <td mat-cell *matCellDef="let element"></td>
              <td mat-footer-cell *matFooterCellDef>
                <mat-form-field>
                  <mat-label></mat-label>
                  <input matInput>
                </mat-form-field>
              </td>
          </ng-container>
  
          <ng-container matColumnDef="Severity Index">
            <th mat-header-cell *matHeaderCellDef> Severity Index </th>
            <td mat-cell *matCellDef="let element"></td>
            <td mat-footer-cell *matFooterCellDef>
              <mat-form-field>
                <mat-label></mat-label>
                <input matInput>
              </mat-form-field>
            </td>
          </ng-container>
  
          <ng-container matColumnDef="Found">
            <th mat-header-cell *matHeaderCellDef> Found </th>
            <td mat-cell *matCellDef="let element"></td>
            <td mat-footer-cell *matFooterCellDef>
              <mat-form-field>
                <mat-label></mat-label>
                <input matInput>
              </mat-form-field>
            </td>
          </ng-container>
  
          <ng-container matColumnDef="VH">
            <th mat-header-cell *matHeaderCellDef> VH </th>
            <td mat-cell *matCellDef="let element"></td>
            <td mat-footer-cell *matFooterCellDef>
              <mat-form-field>
                <mat-label></mat-label>
                <input matInput>
              </mat-form-field>
            </td>
          </ng-container>
  
          <ng-container matColumnDef="H">
            <th mat-header-cell *matHeaderCellDef> H </th>
            <td mat-cell *matCellDef="let element"></td>
            <td mat-footer-cell *matFooterCellDef>
              <mat-form-field>
                <mat-label></mat-label>
                <input matInput>
              </mat-form-field>
            </td>
          </ng-container>
  
          <ng-container matColumnDef="M">
            <th mat-header-cell *matHeaderCellDef> M </th>
            <td mat-cell *matCellDef="let element"></td>
            <td mat-footer-cell *matFooterCellDef>
              <mat-form-field>
                <mat-label></mat-label>
                <input matInput>
              </mat-form-field>
            </td>
          </ng-container>
  
          <ng-container matColumnDef="L">
            <th mat-header-cell *matHeaderCellDef> L </th>
            <td mat-cell *matCellDef="let element"></td>
            <td mat-footer-cell *matFooterCellDef>
              <mat-form-field>
                <mat-label></mat-label>
                <input matInput>
              </mat-form-field>
            </td>
          </ng-container>
  
          <ng-container matColumnDef="Last Insp Year VH">
            <th mat-header-cell *matHeaderCellDef> Last Insp Year VH </th>
            <td mat-cell *matCellDef="let element"></td>
            <td mat-footer-cell *matFooterCellDef>
              <mat-form-field>
                <mat-label></mat-label>
                <input matInput>
              </mat-form-field>
            </td>
          </ng-container>
  
          <ng-container matColumnDef="Reduction Factor">
            <th mat-header-cell *matHeaderCellDef> Reduction Factor </th>
            <td mat-cell *matCellDef="let element"></td>
            <td mat-footer-cell *matFooterCellDef>
              <mat-form-field>
                <mat-label></mat-label>
                <input matInput>
              </mat-form-field>
            </td>
          </ng-container>
  
          <ng-container matColumnDef="Effective Age">
            <th mat-header-cell *matHeaderCellDef> Effective Age </th>
            <td mat-cell *matCellDef="let element"></td>
            <td mat-footer-cell *matFooterCellDef>
              <mat-form-field>
                <mat-label></mat-label>
                <input matInput>
              </mat-form-field>
            </td>
          </ng-container>

          <ng-container matColumnDef="Damage Factor">
            <th mat-header-cell *matHeaderCellDef> Damage Factor </th>
            <td mat-cell *matCellDef="let element"></td>
            <td mat-footer-cell *matFooterCellDef>
              <mat-form-field>
                <mat-label></mat-label>
                <input matInput>
              </mat-form-field>
            </td>
          </ng-container>

          <ng-container matColumnDef="POF">
            <th mat-header-cell *matHeaderCellDef> POF </th>
            <td mat-cell *matCellDef="let element"></td>
            <td mat-footer-cell *matFooterCellDef>
              <mat-form-field>
                <mat-label></mat-label>
                <input matInput>
              </mat-form-field>
            </td>
          </ng-container>
  
          <ng-container matColumnDef="DM name">
            <th mat-header-cell *matHeaderCellDef> DM name </th>
            <td mat-cell *matCellDef="let element"></td>
            <td mat-footer-cell *matFooterCellDef>
              <mat-form-field>
                <mat-label></mat-label>
                <input matInput>
              </mat-form-field>
            </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="trendableDisplayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: trendableDisplayedColumns;"></tr>
          <tr mat-footer-row *matFooterRowDef="trendableDisplayedColumns"></tr>
  
        </table>
      </div>
  
      <div fxLayout="row" fxLayoutAlign="end center" class="btns">
        <button mat-raised-button color="primary">Next</button>
      </div>
    </mat-card>
  </form>